@model ProductDetailsModel
@if (Model.HasSampleDownload)
{
    <div class="download-sample">
        <a class="button-2 download-sample-button btn outline-info" href="@Url.RouteUrl("GetSampleDownload", new { productid = Model.Id })">@T("Products.DownloadSample")</a>
    </div>
}