body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF6F0;
}

:root {
  --primary-color: #eb572c;
  --primary-dark: #56423C;
  --neutral-color: #BDA69F;
  --secondary-color: #329C14;
  --secondary-dark: #006800;
  --dark-color: #333333;
  --gray-color: #EDE9D0;
  --danger-color: #C7370F;
  --info-color: #78B1E0;
  --box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 2px 1px -1px;
}

a {
  text-decoration: none;
}

/*********** GLOBAL STYLES **********/
.module-title {
  color: var(--primary-color);
  font-size: 24px;
}

  .module-title a {
    color: var(--secondary-dark);
    font-size: 13px;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    width: 100%;
  }

.secondary-link {
  color: var(--secondary-dark);
}

  .secondary-link:hover {
    color: var(--secondary-color);
  }

.price-label {
  color: var(--primary-color);
}

.btn.outline-danger {
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
  background-color: transparent;
}

  .btn.outline-danger:hover {
    background-color: var(--danger-color);
    color: var(--gray-color);
  }

.btn.outline-success {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: transparent;
}

  .btn.outline-success:hover {
    background-color: var(--secondary-color);
    color: var(--gray-color);
  }

.btn.outline-info {
  color: var(--info-color);
  border: 1px solid var(--info-color);
  background-color: transparent;
}

  .btn.outline-info:hover {
    background-color: var(--info-color);
    color: var(--gray-color);
  }

.btn.success {
  color: var(--gray-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

  .btn.success:hover {
    background-color: var(--secondary-dark);
    border-color: var(--secondary-dark);
  }

.btn.primary {
  color: var(--gray-color);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

  .btn.primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

.btn.outline-neutral {
  color: var(--neutral-color);
  border: 1px solid var(--neutral-color);
  background-color: transparent;
}

  .btn.outline-neutral:hover {
    background-color: var(--neutral-color);
    color: var(--primary-dark);
  }

.color-success {
  color: var(--secondary-color);
}

.color-primary {
  color: var(--primary-color);
}

.form-fields {
  position: relative;
  border-top: 1px solid var(--neutral-color);
  background-color: var(--gray-color);
  padding: 30px 15px;
}

/*********** .header **********/
.header-logo {
  padding-bottom: 0;
  padding-top: 0;
}

  .header-logo > a {
    display: block;
    vertical-align: middle;
  }

  .header-logo img {
    width: 100%;
    max-width: 171px;
  }

#small-search-box-form {
  position: relative;
}

  #small-search-box-form .search-box-text {
    width: 100%;
    border: 1px solid var(--neutral-color);
    border-radius: 30px;
  }

    #small-search-box-form .search-box-text::placeholder {
      color: var(--neutral-color);
    }

    #small-search-box-form .search-box-text:focus {
      background-color: rgba(255, 255, 255, 1);
    }

  #small-search-box-form .search-box-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    outline: 0;
    color: var(--primary-color);
    background: transparent;
  }

.header-links .nav {
  display: block;
}

.header-links .nav-item {
  display: inline-block;
  color: var(--primary-dark);
}

  .header-links .nav-item > a {
    color: inherit;
    padding: 5px 1rem;
  }

  .header-links .nav-item .ico-cart,
  .header-links .nav-item .ico-account,
  .header-links .nav-item .ico-logout {
    font-size: 1rem;
    width: 45px;
    padding: 0;
    height: 45px;
    line-height: 43px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--gray-color);
    position: relative;
  }

    .header-links .nav-item .ico-cart:hover,
    .header-links .nav-item .ico-account:hover,
    .header-links .nav-item .ico-logout:hover {
      background-color: var(--gray-color);
    }

.header-links .ico-cart .cart-qty {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 13px;
  width: 25px;
  height: 25px;
  line-height: 23px;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 0;
  text-align: center;
  color: var(--gray-color);
}
/**
menu-bar    
**/
.header-menu {
  background-color: var(--primary-color);
  position: relative;
  z-index: 10
}

  .header-menu > ul.mobile {
    display: none !important;
  }

.menu-toggle {
  position: relative;
  color: var(--gray-color);
  border-radius: 30px;
  cursor: pointer;
}

  .menu-toggle span {
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }

  .menu-toggle .bars-button {
    color: inherit;
    font-size: 24px;
    padding: 0;
  }

.menu-bar {
  position: relative;
  color: var(--gray-color);
  border-radius: 30px;
  cursor: pointer;
}

  .menu-bar .bars-button {
    color: inherit;
    font-size: 24px;
    padding: 0;
  }

  .menu-bar > span {
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }

.top-menu {
  list-style: none;
  padding-left: 0;
  width: 100%;
  min-width: 220px;
  position: absolute;
  top: 100%;
  z-index: 20;
  display: none;
  left: 0;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  background-color: #fff;
}

.menu-bar:hover .top-menu {
  display: block;
}

.top-menu > li {
  position: relative;
  border-bottom: 1px solid #F0F0F0;
}

  .top-menu > li:last-child {
    border-bottom: 0;
  }

  .top-menu > li > a {
    padding: 10px 15px;
    color: var(--dark-color)
  }

    .top-menu > li > a:hover {
      color: var(--primary-color)
    }

.top-menu .sublist-toggle {
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  color: var(--neutral-color);
  width: 39px;
  max-height: 39px;
  line-height: 39px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

  .top-menu .sublist-toggle:hover {
    background-color: var(--gray-color);
  }

.top-menu .sublist {
  background: #fff;
  border: 1px solid var(--gray-color);
  list-style: none;
  display: none;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}

.top-menu.mobile .sublist {
  background: var(--gray-color);
  border: 1px solid var(--neutral-color);
  position: static;
}

.top-menu.notmobile .sublist {
  position: absolute;
  top: -1px;
  left: 100%;
  right: auto;
}

.top-menu.notmobile > li:hover .sublist {
  display: block;
}

.top-menu .sublist > li {
  text-align: left;
  border-bottom: 1px solid #f6f6f6;
}

  .top-menu .sublist > li:last-child {
    border-bottom: 0;
  }

  .top-menu .sublist > li > a {
    padding: 10px 15px;
    color: var(--dark-color);
  }

    .top-menu .sublist > li > a:hover {
      color: var(--secondary-color)
    }


/**
    HomepageCategories
**/
.category-grid .category-item .title {
  font-size: 16px;
}

.category-grid .category-item .picture img {
  max-width: 100%;
  border-radius: 200px;
}

.category-grid .title a {
  color: var(--secondary-dark);
  font-size: 13px;
  text-align: center;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  width: 100%;
  font-weight: 600;
}
/**
    PRODUCTS-LIST * PRODUCT-GIRD
**/
.product-list .item-box {
  float: none;
  width: auto;
  margin: 0 5px 20px 0;
  width: 100%;
}

  .product-list .item-box .product-item:after {
    content: "";
    display: block;
    clear: both;
  }

  .product-list .item-box .product-item {
    display: block;
  }

  .product-list .item-box .thumbnail-link {
    float: left;
    width: 30%;
  }

    .product-list .item-box .thumbnail-link img {
      border-top-right-radius: 0;
    }

  .product-list .item-box .details {
    float: left;
    width: 70%;
  }

  .product-list .item-box .product-title {
    height: auto;
    padding: 5px 0;
    font-size: 18px;
  }

  .product-list .item-box .description {
    display: block;
    margin: 0;
    line-height: 1;
  }

  .product-list .item-box .prices {
    height: auto;
    font-size: 18px;
  }

  .product-list .item-box .buttons {
    text-align: left;
  }

  .product-list .item-box .product-box-add-to-cart-button {
    width: auto;
    min-width: 150px;
    padding: 5px 0;
    border: 1px solid var(--secondary-dark);
  }

.product-grid .product-item {
  border: 1px solid var(--gray-color);
}

  .product-grid .product-item .thumbnail-link {
    display: block;
    height: 215.7px;
    overflow-y: hidden;
  }

  .product-grid .product-item .details {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 215px;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
  }


    .product-grid .product-item .details .description {
      min-height: 72px;
      font-size: 14px;
      color: var(--primary-dark);
    }

    .product-grid .product-item .details .prices {
      min-height: 60px;
    }

    .product-grid .product-item .details .card-body {
      padding-bottom: 0;
    }

.product-item .product-title {
  font-size: 16px;
  color: var(--secondary-color);
  min-height: 38.5px;
}

  .product-item .product-title:hover {
    color: var(--secondary-dark)
  }

  .product-item .product-title a {
    color: inherit;
  }

.item-box .old-price {
  margin: 0 5px 0 0;
  font-size: 16px;
  color: var(--primary-dark);
  text-decoration: line-through;
  display: block;
}

.item-box .actual-price {
  font-size: 24px;
  color: var(--primary-color);
  display: block;
}

.item-box .product-box-add-to-cart-button {
  border: 0;
  color: var(--secondary-dark);
  text-transform: uppercase;
}

  .item-box .product-box-add-to-cart-button:hover {
    color: var(--secondary-color);
    background-color: var(--gray-color);
  }


.item-box .add-info {
  background-color: transparent;
  border-top: 0;
}

.item-box .buttons {
  background-color: transparent;
  border-top: 0;
  text-align: center;
}

/**
    HomepageBlogSpots
**/
.blog-grid .post {
  border: 0;
  background-color: #ffffff;
}

.blog-grid .details {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 185px;
  border: 1px solid var(--gray-color);
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.blog-grid .post-head {
  padding: 8px 15px;
}

.blog-grid .post-title {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 600;
  display: block;
}


.blog-grid .thumbnail-link {
  height: 152.9px;
  overflow-y: hidden;
}

.blog-grid .post-title:hover {
  color: var(--secondary-dark)
}

.blog-grid .post-date {
  font-size: 13px;
  color: var(--neutral-color);
}

.blog-grid .post-body {
  padding-top: 0;
  padding-bottom: 0;
}

/**
.footer    
**/

.footer {
  background-color: var(--gray-color)
}

  .footer .footer-info {
    font-size: 14px;
    color: var(--primary-dark);
  }


  .footer .footer-block .title {
    color: var(--primary-dark)
  }

  .footer .footer-block .list,
  .footer .footer-block .networks {
    color: var(--primary-dark);
    padding-left: 18px;
  }

    .footer .footer-block .list li a,
    .footer .footer-block .networks li a {
      color: var(--primary-color);
    }

.footer-powered-by {
  color: var(--primary-dark);
  padding: 23px 0 8px 0;
  background-color: var(--primary-color);
}

  .footer-powered-by a {
    color: var(--gray-color);
  }


/**
.admin-footer-links    
**/
.admin-footer-links {
  position: relative;
}

  .admin-footer-links a {
    color: var(--primary-color);
    background-color: var(--primary-dark);
    display: block;
    padding: 8px 15px;
    position: absolute;
    border-radius: 30px;
    left: 0;
    right: 0;
    top: 0;
    margin: -22px auto 0;
    max-width: 200px;
  }

/******* SHOPPING CART *******/
.checkout-attributes .option-list {
  list-style: none;
  padding-left: 0;
}

/************ CHECKOUT PAGE *************/
.checkout-page .section {
  margin: 0 0 30px;
}

  .checkout-page .section.order-summary {
    margin: 100px 0 30px;
  }

.checkout-page .cart-options {
  min-height: 60px;
  overflow: hidden;
}

.checkout-page .cart-footer {
  border-top: none;
}

.checkout-page .total-info {
  margin: 0;
  border-bottom: none;
  padding: 5px 20px 10px;
}

.checkout-page .address-item {
  width: 350px;
  max-width: 100%;
  margin: 0 auto 40px;
}

  .checkout-page .address-item ul {
    margin: 0 0 15px;
    background-color: #f9f9f9;
    padding: 20px;
    color: #444;
  }

  .checkout-page .address-item li {
    padding: 5px 0;
  }

    .checkout-page .address-item li.name {
      font-size: 16px;
      font-weight: bold;
    }

.enter-address .message-error {
  margin: 20px 0;
}

.enter-address .edit-address {
  background-color: #f9f9f9;
  border-top: 1px solid #e6e6e6;
  margin: 0 0 30px;
  padding: 30px 15px;
}

.checkout-page .ship-to-same-address {
  padding: 30px 0;
  text-align: center;
}

  .checkout-page .ship-to-same-address .selector {
    margin: 0 0 5px;
    font-weight: bold;
    color: #444;
  }

.checkout-page .pickup-in-store {
  text-align: center;
}

  .checkout-page .pickup-in-store .selector {
    margin: 0 0 5px;
    font-weight: bold;
    color: #444;
  }

.select-pickup-point {
  text-align: center;
}

.checkout-page .pickup-points-map {
  min-width: 400px;
  min-height: 350px;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkout-page .edit-address-button {
  float: right;
  margin: 20px 10px 10px 12px;
  display: none;
}

.checkout-page .delete-address-button {
  float: right;
  margin: 20px 0 10px 0;
  display: none;
}

.checkout-page .opc {
  list-style: none;
  padding-left: 0;
}

.shipping-method .method-list,
.payment-method .method-list {
  margin: 0 auto 30px 0;
  overflow: hidden;
  text-align: center;
  font-size: 0;
  list-style: none;
  padding-left: 0;
}

  .shipping-method .method-list li,
  .payment-method .method-list li {
    margin: 20px 0;
    font-size: 14px; /*reset zeroing*/
  }

    .shipping-method .method-list li label,
    .payment-method .method-list li label {
      font-size: 13px;
      font-weight: bold;
      color: #444;
    }

.shipping-method .method-description {
  margin: 5px 0 0;
}

.payment-method .use-reward-points {
  margin: 0 0 30px;
  text-align: center;
  color: #444;
}

.payment-method .payment-logo {
  display: inline-block;
  vertical-align: middle;
}

  .payment-method .payment-logo label {
    display: block;
    font-size: 0 !important;
  }

.payment-method .payment-details {
  width: 200px;
  display: inline-block;
  margin: 0 0 0 10px;
  text-align: left;
  vertical-align: middle;
}

.payment-info .info {
  padding: 30px 15px;
  color: #444;
}

  .payment-info .info tr {
    display: block;
    margin: 0 0 15px;
    font-size: 0;
  }

  .payment-info .info td {
    display: inline-block;
    width: 100% !important;
    max-width: 400px !important;
    font-size: 14px; /*reset zeroing*/
  }

    .payment-info .info td:only-child {
      width: 100% !important;
      max-width: 100% !important;
    }

    .payment-info .info td input[type="text"] {
      width: 100% !important;
    }

    .payment-info .info td input[name="CardCode"] {
      width: 65px !important;
    }

    .payment-info .info td select {
      min-width: 70px;
    }

    .payment-info .info td:first-child {
      margin: 0 0 10px;
    }

  .payment-info .info p {
    text-align: center;
  }

.confirm-order .buttons {
  padding: 10px 0;
}

.confirm-order .button-1 {
  font-size: 16px;
}

.order-review-data > div,
.order-details-area > div,
.shipment-details-area > div {
  width: 350px;
  max-width: 100%;
  margin: 0 auto 40px;
  background-color: #f9f9f9;
  padding: 20px;
  color: #444;
}

.order-review-data li,
.order-details-area li,
.shipment-details-area li {
  padding: 3px 0;
}

.order-review-data .title,
.order-details-area .title,
.shipment-details-area .title {
  margin: 0 0 5px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}

  .order-review-data .title strong,
  .order-details-area .title strong,
  .shipment-details-area .title strong {
    font-weight: 700;
  }

.order-review-data .payment-method-info,
.order-review-data .shipping-method-info,
.order-details-area .payment-method-info,
.order-details-area .shipping-method-info {
  margin-top: 20px;
}

.order-completed .details {
  margin: 0 0 30px;
  padding: 30px 15px;
  text-align: center;
  color: #444;
}

  .order-completed .details div {
    margin: 5px 0;
  }

  .order-completed .details strong {
    font-weight: normal;
    text-transform: uppercase;
  }

  .order-completed .details a {
    color: #4ab2f1;
  }

    .order-completed .details a:hover,
    .order-completed .details a:focus {
      text-decoration: underline;
    }

.opc .step-title {
  margin: 0 0 1px;
  overflow: hidden;
  background-color: var(--gray-color);
}

.opc .allow .step-title {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.opc .step-title .number,
.opc .step-title .title {
  float: left;
  min-height: 40px;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 16px;
  font-weight: normal;
}

.opc .allow .step-title .number,
.opc .allow .step-title .title {
  color: #fff;
  cursor: pointer;
}

.opc .step-title .number {
  width: 42px;
  border-right: 1px solid #fff;
  text-align: center;
}

.opc .allow .step-title .number {
  background-color: var(--secondary-dark);
}

.opc .step {
  margin: 10px 0;
  padding: 30px 15px;
  text-align: center;
}

.opc .section {
  margin: 0 0 30px;
}

  .opc .section > label {
    display: block;
    margin: 0 0 10px;
  }

.opc input[type="text"],
.opc select {
  max-width: 100%;
}

.opc .buttons {
  margin-bottom: 0;
}

.opc .back-link small {
  display: none;
}

.opc .back-link a {
  display: inline-block;
  background: url('../images/back-button.png') left center no-repeat;
  padding: 0 0 0 18px;
  color: #444;
}

  .opc .back-link a:hover,
  .opc .back-link a:focus {
    color: #4ab2f1;
  }

.opc .buttons .please-wait {
  display: block;
  margin: 10px 0 0;
  background: none;
}

.opc .section.ship-to-same-address {
  margin: 0 0 30px;
  padding: 0;
}

.opc .section.pickup-in-store {
  margin: 0 0 30px;
  padding: 0;
}

.opc .payment-info .info tr {
  text-align: left;
}

.opc .section.order-summary {
  margin: 0;
}

.checkout-page .inputs {
  position: relative;
}

.checkout-page .relative-from {
  position: relative;
}

.inputs div[class*="col-"] {
  position: relative;
}

.inputs .required {
  position: absolute;
  color: var(--danger-color);
  right: 0;
  top: 0;
  width: auto;
}

/*** CUSTOMER INFO ***/
.block-account-navigation {
  float: none;
  margin: auto !important;
}

.block {
  max-width: 600px;
  min-height: 50px;
  margin: auto;
  text-align: left;
}

  .block .title {
    position: relative;
    margin: 0 0 10px;
    border-bottom: 1px solid #ddd;
    background: var(--gray-color);
    padding: 12px 30px 12px 10px;
    font-size: 20px;
    color: var(--dark-color);
    cursor: pointer;
  }

  .block .listbox {
    display: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
  }

    .block .listbox ul, .block .listbox ol {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }

  .block .list a {
    display: inline-block;
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    color: var(--dark-color);
    border-bottom: 1px dashed var(--gray-color);
    width: 100%;
  }

  .block .list .active > a {
    color: var(--secondary-color);
  }

  .block .list li:hover > a {
    color: var(--secondary-color);
  }

.date-of-birth .date-picker-wrapper {
  display: inline;
}

.date-of-birth select {
  width: 31%;
  border: 1px solid #ced4da;
  max-width: 126px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

  .date-of-birth select + select {
    margin: 0 0 0 10px;
  }

.date-of-birth .select-wrapper + .select-wrapper {
  margin: 0 0 0 10px;
}

@media (min-width: 1001px) {
  .block {
    float: none;
    width: auto;
    margin: 0 0 20px;
  }

    .block .title {
      margin: 0;
      border-bottom: 1px solid #ddd;
      background: none;
      cursor: auto;
    }

    .block .listbox {
      display: block;
      border-bottom: none;
    }
}


/********** PRODUCT REVIEWS **********/
.product-reviews-page h1 a {
  color: var(--primary-dark);
}

  .product-reviews-page h1 a:before,
  .product-reviews-page h1 a:after {
    content: "''";
  }

.product-reviews-page .title {
  margin: 0 0 20px;
  font-size: 20px;
  color: var(--dark-color);
}

  .product-reviews-page .title strong {
    font-weight: normal;
  }

.write-review {
  margin: 0 0 60px;
}

  .write-review .fieldset {
    margin: 0 0 30px;
  }

.tooltip {
  position: initial;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: var(--dark-color);
}

  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background: var(--gray-color) no-repeat 100% 5%;
    border: var(--neutral-color) 1px dotted;
    text-align: Left;
    padding: 10px 10px 5px 5px;
    position: absolute;
    z-index: 1;
    left: 10%;
    opacity: 0;
    transition: opacity 0.3s;
  }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
    }

  .tooltip:hover .tooltiptext,
  .tooltip:focus .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: help;
  }

.write-review .review-rating {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

  .write-review .review-rating label {
    display: block;
    margin: 0 0 5px;
    font-size: 14px;
    color: var(--dark-color);
  }

  .write-review .review-rating div.first {
    color: #e4444c;
  }

  .write-review .review-rating div.rating-options {
    padding-top: 2px;
  }

    .write-review .review-rating div.rating-options input {
      vertical-align: baseline;
    }

  .write-review .review-rating div.last {
    color: #4cb17c;
  }

.write-review .captcha-box {
  margin: 15px 0 0;
}

.product-reviews-page .result,
.product-reviews-page .message-error {
  margin: 0 0 20px;
}

.product-review-list {
  overflow: hidden;
}

.product-review-item {
  margin: 0 0 40px;
}

  .product-review-item .review-item-head {
    border-top: 1px solid var(--neutral-color);
    overflow: hidden;
    background-color: var(--gray-color);
    padding: 10px;
  }

  .product-review-item .review-title {
    line-height: 20px;
    font-size: 15px;
    color: var(--dark-color);
  }

  .product-review-item .product-review-box {
    margin: 3px 0 0;
  }

  .product-review-item .review-content {
    padding: 20px 10px;
  }

  .product-review-item .review-text {
    margin: 0 0 15px;
    line-height: 22px;
    color: var(--dark-color);
  }

  .product-review-item .avatar {
    margin: 0 0 10px;
  }

  .product-review-item .reply {
    margin: 15px 0;
    border-top: 1px solid var(--neutral-color);
  }

  .product-review-item .reply-header {
    margin: 15px 0;
    font-weight: bold;
  }

  .product-review-item .reply-text {
    line-height: 22px;
  }

  .product-review-item .review-info {
    margin: 0 0 5px;
  }

    .product-review-item .review-info .date {
      color: var(--neutral-color);
      font-size: 14px;
    }

    .product-review-item .review-info label {
      font-weight: normal;
    }

    .product-review-item .review-info a,
    .product-review-helpfulness .vote {
      display: inline-block;
      padding: 0 5px;
      color: var(--secondary-color);
      cursor: pointer;
    }

      .product-review-item .review-info a:hover,
      .product-review-helpfulness .vote:hover {
        color: var(--secondary-dark);
      }

.product-review-helpfulness .question {
  margin: 0 5px 0 0;
  font-style: italic;
}

.product-review-helpfulness .result {
  margin: 0 0 0 10px;
}

.product-review-item .review-type-rating-ext {
  overflow: hidden;
  margin: 0 0 20px;
}

/************ PAGER **********/
.pager {
  margin: 0 0 20px;
}

  .pager ul {
    text-align: right;
    font-size: 0;
  }

  .pager li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
  }

    .pager li a,
    .pager li span {
      display: block;
      min-width: 35px;
      height: 35px;
      border: 1px solid var(--neutral-color);
      background-color: var(--gray-color);
      padding: 8px;
      text-align: center;
      font-size: 14px; /*reset zeroing*/
      cursor: pointer;
      color: var(--primary-color);
      border-radius: 3px;
    }

    .pager li span {
      border-color: transparent;
      background-color: var(--primary-color);
      color: var(--gray-color);
    }

    .pager li.previous-page *,
    .pager li.next-page *,
    .pager li.first-page *,
    .pager li.last-page * {
      background-position: center;
      background-repeat: no-repeat;
      font-size: 0;
      color: #fff;
    }

    .pager li.previous-page * {
      background-image: url('../images/prev.png');
    }

    .pager li.next-page * {
      background-image: url('../images/next.png');
    }

    .pager li.first-page * {
      background-image: url('../images/first.png');
    }

    .pager li.last-page * {
      background-image: url('../images/last.png');
    }

    .pager li a:hover,
    .pager li a:focus {
      border-color: transparent;
      background-color: var(--primary-color);
      color: #fff
    }

/**
    Categories Page
**/
.category-grid .sub-category-item .title {
  font-size: 16px;
}

.category-grid .sub-category-item .picture img {
  max-width: 100%;
  border-radius: 200px;
}

.product-selectors {
  margin: 0 0 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

  .product-selectors:first-child {
    border-top: none;
  }

  .product-selectors:after {
    content: "";
    display: block;
    clear: both;
  }

  .product-selectors > div {
    display: inline-block;
    margin: 5px;
  }

  .product-selectors span {
    vertical-align: middle;
    font-size: 16px;
  }

  .product-selectors select {
    margin: 0 8px;
    display: inline-block;
    width: auto;
  }

  .product-selectors .product-viewmode {
    display: none;
    font-size: 0;
  }

.product-filter + .product-filter {
  margin-top: 20px;
}

.product-filter .filter-title {
  margin: 0 0 10px 0;
  background-color: var(--gray-color);
  padding: 10px;
  font-size: 17px;
  color: var(--dark-color);
}

  .product-filter .filter-title strong {
    font-weight: normal;
  }

.product-filter .filter-content {
  padding: 5px 10px 5px 10px;
  color: var(--dark-color);
}

.product-filter .group {
  font-size: 15px;
  padding-left: 0;
}

  .product-filter .group + .group {
    margin-top: 16px;
  }

  .product-filter .group .name {
    padding-bottom: 10px;
  }

  .product-filter .group .item {
    display: flex;
    padding-left: 0;
    align-items: center;
  }

    .product-filter .group .item + .item {
      padding-top: 8px;
    }

    .product-filter .group .item label {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-left: 8px;
      flex-grow: 1;
    }

.price-range-filter .selected-price-range {
  padding: 5px 0;
}

  .price-range-filter .selected-price-range .to {
    float: right;
  }

  .price-range-filter .selected-price-range.manually {
    display: flex;
  }

    .price-range-filter .selected-price-range.manually .from {
      margin-right: 8px;
    }

    .price-range-filter .selected-price-range.manually .from,
    .price-range-filter .selected-price-range.manually .to {
      width: 50%;
    }

.product-filter .attribute-squares {
  font-size: inherit;
}

  .product-filter .attribute-squares .attribute-square {
    width: 20px !important;
    height: 20px !important;
    margin-right: 8px;
  }

/*** CATEGORY ***/
.product-selectors {
  text-align: left;
}

  .product-selectors .product-viewmode {
    display: inline-block;
    float: right;
  }

    .product-selectors .product-viewmode span {
      display: none;
    }

    .product-selectors .product-viewmode a {
      display: inline-block;
      width: 24px;
      height: 32px;
      margin: 0 0 0 12px;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
    }

      .product-selectors .product-viewmode a.grid {
        background-image: url('../images/view-grid.png');
      }

      .product-selectors .product-viewmode a.list {
        background-image: url('../images/view-list.png');
      }

      .product-selectors .product-viewmode a.selected {
        opacity: 1;
      }

/*** RECENTLY PRODUCTS ***/
.block-recently-viewed-products .list li {
  border-bottom: 1px dashed var(--gray-color);
}

.block-recently-viewed-products .list a {
  height: 100%;
  border-bottom: 0;
}

/*** TAGS ***/
.block-popular-tags .tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.block-popular-tags .tags a {
  color: var(--secondary-color);
}

  .block-popular-tags .tags a:hover {
    color: var(--secondary-dark);
  }

.view-all a {
  color: var(--info-color);
}

  .view-all a:hover {
    color: var(--neutral-color);
  }

/*** PRODUCT DETAILS ***/

  .gallery .picture-wrapper {
    margin: 0 0 10px
  }

  .gallery .picture {
    position: relative;
    max-width: 100%;
    margin: 0 auto 10px;
    overflow: hidden
  }

    .gallery .picture:before {
      content: "";
      display: block;
      padding-top: 100%
    }

    .gallery .picture img, .gallery .picture-thumbs img, .variant-picture img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 100%;
      max-height: 100%;
      margin: auto
    }

  .gallery .picture-thumbs {
    overflow: hidden;
    font-size: 0
  }

    .gallery .picture-thumbs .thumb-item {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
      margin: 0 5px 10px;
      overflow: hidden;
      cursor: pointer
    }

.overview {
  position: relative;
  margin: 0 0 50px
}

  .overview .discontinued-product {
    background: var(--gray-color);
    margin: 0 0 20px
  }

    .overview .discontinued-product h4 {
      display: inline-block;
      font-size: 14px;
      padding: 17px 17px 17px 40px;
      background: url('../images/discontinued-product-icon.png') no-repeat 13px center;
      color: var(--primary-dark)
    }

  .overview .product-name {
    margin: 0 0 25px;
    border-bottom: 1px solid var(--gray-color);
    padding: 0 0 10px
  }

    .overview .product-name h1 {
      font-size: 30px;
      font-weight: normal
    }

  .overview .short-description {
    margin: 0 0 15px;
    line-height: 22px;
    color: var(--dark-color);
  }

.product-no-reviews, .product-reviews-overview {
  margin: 0 0 25px;
  color: #444
}

  .product-no-reviews a {
    text-decoration: underline
  }

.product-review-box {
  display: inline-block;
  margin: 0 0 8px
}

  .product-review-box .rating {
    width: 95px;
    height: 14px;
    background: url('../images/rating1.png') repeat-x
  }

    .product-review-box .rating div {
      height: 14px;
      background: url('../images/rating2.png') repeat-x
    }

.product-review-links a {
  text-decoration: underline
}

  .product-review-links a:hover, .product-review-links a:focus {
    color: #4ab2f1
  }

.overview .value, .variant-overview .value {
  color: #444
}

  .overview .value a, .variant-overview .value a {
    color: var(--secondary-color);
  }

    .overview .value a:hover, .overview .value a:focus, .variant-overview .value a:hover, .variant-overview .value a:focus {
      text-decoration: underline
    }

.overview-buttons {
  margin: 0 0 25px;
  font-size: 0
}

  .overview-buttons div {
    width: 80%;
    margin: 0 auto 3px
  }

.overview .button-2, .variant-overview .button-2 {
  display: block;
  width: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 12px 15px 12px 40px;
  text-align: left;
  font-size: 14px;
}

  .overview .button-2:hover, .overview .button-2:focus, .variant-overview .button-2:hover, .variant-overview .button-2:focus {
    background-color: #ddd
  }

.overview .add-to-compare-list-button {
  background-image: url('../images/compare-button.png')
}

.overview .email-a-friend-button {
  background-image: url('../images/email-button.png')
}

.overview .subscribe-button, .variant-overview .subscribe-button {
  background-image: url('../images/email-button.png')
}

.overview .download-sample-button, .variant-overview .download-sample-button {
  background-image: url('../images/download-button.png')
}

.overview .add-to-wishlist-button, .variant-overview .add-to-wishlist-button {
  background-image: url('../images/wishlist-button.png')
}

.overview .manufacturers {
  margin: 0 0 20px
}

.overview .availability, .variant-overview .availability {
  margin: 0 0 20px;
  overflow: hidden
}

  .overview .availability .back-in-stock-subscription, .variant-overview .availability .back-in-stock-subscription {
    display: inline-block
  }

.overview .additional-details, .variant-overview .additional-details {
  margin: 0 0 20px
}

  .overview .additional-details div, .variant-overview .additional-details div {
    margin: 0 0 8px
  }

.overview .delivery, .variant-overview .delivery {
  overflow: hidden
}

.overview .free-shipping, .variant-overview .free-shipping {
  display: inline-block;
  margin: 10px 0;
  background: url('../images/shipping.png') left center no-repeat;
  padding: 2px 0;
  font-weight: bold;
  color: #444
}

  .overview .free-shipping.invisible, .variant-overview .free-shipping.invisible {
    display: none
  }

.overview .delivery-date, .variant-overview .delivery-date {
  margin: 10px 0
}

.overview .min-qty-notification, .variant-overview .min-qty-notification {
  margin: 10px 0;
  font-style: italic;
  color: #444
}

.overview .download-sample, .variant-overview .download-sample {
  display: inline-block;
  margin: 0 0 25px
}

.overview .prices, .variant-overview .prices {
  margin: 0 0 10px;
  overflow: hidden
}

  .overview .prices > div, .variant-overview .prices > div {
    margin: 0 0 5px
  }

    .overview .prices > div > span, .variant-overview .prices > div > span {
      vertical-align: middle
    }

.overview .old-product-price, .variant-overview .old-product-price, .overview .non-discounted-price, .variant-overview .non-discounted-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through
}

.overview .product-price, .variant-overview .product-price {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color)
}

.overview .tax-shipping-info a, .variant-overview .tax-shipping-info a {
  color: #4ab2f1
}

  .overview .tax-shipping-info a:hover, .overview .tax-shipping-info a:focus, .variant-overview .tax-shipping-info a:hover, .variant-overview .tax-shipping-info a:focus {
    text-decoration: underline
  }

.customer-entered-price {
  margin: 0 0 20px;
  overflow: hidden
}

  .customer-entered-price .price-input label {
    display: block;
    margin: 0 0 5px;
    font-weight: bold;
    color: #444
  }

  .customer-entered-price .price-input input {
    width: 170px;
    text-align: center
  }

  .customer-entered-price .price-range {
    margin: 5px 0 0;
    color: #777
  }

.tier-prices {
  margin: 0 0 20px
}

  .tier-prices .title {
    display: none
  }

  .tier-prices table td {
    border: 1px solid #ddd;
    padding: 10px;
    color: #444
  }

  .tier-prices .field-header {
    min-width: 80px
  }

  .tier-prices .item-price {
    background-color: #f9f9f9;
    font-size: 16px;
    color: #e4434b
  }

.overview .add-to-cart {
  margin: 0 0 20px
}

.overview .add-to-cart-panel, .variant-overview .add-to-cart-panel {
  display: inline-block;
  position: relative
}

.overview .qty-label, .variant-overview .qty-label {
  display: none !important
}

.overview .qty-input, .variant-overview .qty-input {
  width: 45px;
  display: inline-block;
  vertical-align: middle;
}

.overview .qty-dropdown, .variant-overview .qty-dropdown {
  height: 43px;
  padding: 0 12px;
  font-size: 15px;
  color: #444
}

.full-description {
  clear: both;
  line-height: 24px
}

.product-collateral .title {
  margin: 0 0 10px;
  font-size: 18px;
  color: var(--dark-color)
}

  .product-collateral .title strong {
    font-weight: normal
  }

.product-variant-line {
  margin: 0 0 30px;
  border: 1px solid var(--gray-color);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 10px;
}

  .product-variant-line:after {
    content: "";
    display: block;
    clear: both
  }

  .product-variant-line .product-estimate-shipping a{
      color: var(--info-color)
  }

  .product-variant-line .product-estimate-shipping .shipping-price-title{
      margin-right: 3px;
  }

  .product-variant-line .product-estimate-shipping .shipping-price {
    vertical-align: middle;
    color: var(--primary-color)
  }

  .variant-picture {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 0 auto 15px;
    overflow: hidden
  }

.variant-overview {
  width: 100%
}

  .variant-overview .variant-name {
    margin: 0 0 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--secondary-color)
  }

  .variant-overview .variant-description {
    margin: 0 0 15px;
    line-height: 22px
  }

  .variant-overview .add-to-wishlist {
    margin: 0 0 25px
  }

  .variant-overview .add-to-wishlist-button {
    display: inline-block;
    width: auto
  }

  .variant-overview .add-to-cart {
    margin: 0 0 10px
  }

.product-specs-box {
  margin: 0 0 40px
}

  .product-specs-box td {
    border: 1px solid #ddd;
    padding: 10px
  }

    .product-specs-box td.spec-group-name {
      border: 0;
      padding-top: 20px;
      font-size: 16px;
      color: #444
    }

.product-tags-list ul {
  padding-left: 0;
}

.product-tags-list li {
  display: inline-block;
  font-size: 14px;
  margin-right: 3px;
}

.product-tags-list a {
  display: inline-block;
  line-height: 24px;
  color: var(--secondary-color);
}

  .product-tags-list a:hover, .product-tags-list a:focus {
    color: var(--secondary-dark);
  }

.attributes {
  margin: 20px 0
}

  .attributes dl {
    overflow: hidden;
    padding: 0 2px
  }

  .attributes dt, .attribute-label {
    display: block;
    margin: 0 0 5px;
    white-space: nowrap;
    font-weight: bold;
    color: #444
  }

  .attributes dd, .attribute-data {
    margin: 0 0 10px
  }

  .attributes li {
    margin: 8px 15px 12px 15px;
    display: inline-block;
  }

  .attributes select {
    width: auto;
    min-width: 100px;
    max-width: 100%
  }

  .attributes .option-list label {
    margin: 0 5px
  }

  .attributes .datepicker {
    width: 280px;
    text-align: center;
    color: #444
  }

  .attributes .qty-box input {
    width: 48px;
    height: 32px;
    text-align: center
  }

  .attributes .option-list:not(.attribute-squares) .disabled {
    opacity: .5
  }

  .attributes .option-list{
      list-style: none;
      padding-left: 0;
  }

  .attributes .attribute-squares .disabled .attribute-square {
    cursor: default;
    opacity: .25
  }

  .attributes .attribute-squares .disabled .attribute-square-container {
    background: linear-gradient(to top left,rgba(0,0,0,0) 0%,rgba(0,0,0,0) calc(50% - 1.5px),#e91e63 50%,rgba(0,0,0,0) calc(50% + 1.5px),rgba(0,0,0,0) 100%),linear-gradient(to top right,rgba(0,0,0,0) 0%,rgba(0,0,0,0) calc(50% - 1.5px),#e91e63 50%,rgba(0,0,0,0) calc(50% + 1.5px),rgba(0,0,0,0) 100%)
  }

  .attributes .attribute-squares .tooltip-container .not-available-text {
    font-size: 12px
  }

  .attributes .attribute-squares.color-squares .tooltip-container .not-available-text {
    margin: 5px
  }

  .attributes .attribute-squares.color-squares .tooltip-container {
    width: 120px;
    display: none
  }

  .attributes .attribute-squares.color-squares li:hover .tooltip-container {
    margin-left: -42px
  }

  .attributes .attribute-squares.color-squares .disabled .tooltip-container {
    display: block
  }

  .attributes .attribute-squares.image-squares .tooltip-container .not-available-text {
    margin-bottom: 5px;
    display: none
  }

  .attributes .attribute-squares.image-squares .disabled .tooltip-container .not-available-text {
    display: block
  }

  .attributes select option.disabled, .attributes select option:disabled {
    color: #cecece
  }

.product-details-page .card{
    border: 1px solid var(--gray-color);
    background-color: rgba(255, 255, 255, 0.7);
}

.giftcard div[class*="col-"]{
    position: relative;
}

.giftcard .required {
  position: absolute;
  color: var(--danger-color);
  right: 0;
  top: 0;
  width: auto;
}
/****** BLOG & NEWS ******/
.block-blog-archive .number {
  display: block;
  color: #444;
  cursor: auto;
}

.block-blog-archive .sublist {
  margin: 5px 0 5px 15px;
}

.block-blog-archive li.month {
  padding: 3px 0 3px 15px;
}

.blog-page .page-title,
.news-list-page .page-title {
  margin: 0;
}

.blog-page .post,
.news-items .news-item {
  margin: 0 0 30px;
}

  .blog-page .post:after {
    content: "";
    display: block;
    clear: both;
  }

.post-title,
.news-title {
  display: inline-block;
  padding: 0 0 10px 0;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-color);
}

  .post-title:hover,
  .post-title:focus,
  .news-title:hover,
  .news-title:focus {
    color: var(--info-color);
  }

.post-date,
.news-date {
  display: block;
  margin: 0 0 15px 0;
  font-style: italic;
  color: var(--neutral-color);
}

.post-body,
.news-body {
  margin: 0 0 20px;
  padding: 0 10px;
  line-height: 22px;
}

.blog-page .tags,
.blogpost-page .tags {
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0 10px;
}

  .blog-page .tags label,
  .blogpost-page .tags label {
    display: inline-block;
    margin: 0 3px 3px 0;
    font-weight: bold;
    color: #444;
  }

  .blog-page .tags ul,
  .blogpost-page .tags ul {
    display: inline-block;
    margin: 0 0 3px 3px;
    font-size: 0;
    padding-left: 0;
  }

  .blog-page .tags li,
  .blogpost-page .tags li {
    display: inline-block;
    font-size: 14px; /*reset zeroing*/
  }

    .blog-page .tags li.separator,
    .blogpost-page .tags li.separator {
      margin: 0 8px 0 0;
    }

  .blog-page .tags a,
  .blogpost-page .tags a {
    display: block;
    color: var(--info-color);
  }

    .blog-page .tags a:hover,
    .blog-page .tags a:focus,
    .blogpost-page .tags a:hover,
    .blogpost-page .tags a:focus {
      text-decoration: underline;
    }

.block-popular-blogtags .tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.block-popular-blogtags .tags a{
    color: var(--secondary-color)
}

.blog-posts .buttons,
.news-items .buttons {
  margin: 0;
  padding: 0 10px;
}

  .blog-posts .buttons .read-more,
  .news-items .buttons .read-more {
    display: inline-block;
    text-transform: uppercase;
  }

.new-comment {
  margin: 50px 0 60px;
}

  .new-comment .notifications {
    margin: 0 0 10px;
  }

  .new-comment .result {
    color: #690;
  }

  .new-comment .form-fields {
    margin: 0 0 20px;
  }

  .comment-list {
  margin: 0 0 100px;
}

  .comment-list .title {
    margin: 0 0 15px;
    padding: 0 10px;
    font-size: 20px;
    color: #444;
  }

    .comment-list .title strong {
      font-weight: normal;
    }

  .comment-list .comment {
    margin: 0 0 40px 0;
    background-color: var(--gray-color);
    padding: 10px 10px;
    border-radius: 3px;
  }

    .comment-list .comment:after {
      content: "";
      display: block;
      clear: both;
    }

.comment-info {
  display: inline-block;
  vertical-align: middle;
}

  .comment-info .username {
    display: block;
    margin: 0 0 -1px;
    padding: 11px 0;
    font-weight: bold;
    color: var(--dark-color);
  }

  .comment-info a.username:hover,
  .comment-info a.username:focus {
    color: var(--neutral-color);
  }

  .comment-info .avatar {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid var(--neutral-color);
    overflow: hidden;
  }

    .comment-info .avatar img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      border: solid 2px var(--gray-color) !important;
    }

.comment-time {
  margin: 0 0 15px;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

  .comment-time span {
    color: var(--neutral-color);
  }

.comment-title {
  margin: 0 0 15px;
  font-size: 16px;
  color: var(--dark-color);
}

.comment-body {
  line-height: 22px;
}

.news-list-homepage {
  margin: 0 0 75px;
}

  .news-list-homepage .view-all {
    text-align: center;
  }

    .news-list-homepage .view-all a {
      color: var(--dark-color);
      text-decoration: underline;
    }

      .news-list-homepage .view-all a:hover,
      .news-list-homepage .view-all a:focus {
        color: var(--info-color);
      }