body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF6F0;
}

:root {
  --primary-color: #eb572c;
  --primary-dark: #56423C;
  --neutral-color: #BDA69F;
  --secondary-color: #329C14;
  --secondary-dark: #006800;
  --dark-color: #333333;
  --gray-color: #EDE9D0;
  --danger-color: #C7370F;
  --info-color: #78B1E0;
  --box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 2px 1px -1px;
}

a {
  text-decoration: none;
}

/*********** GLOBAL STYLES **********/
.module-title {
  color: var(--primary-color);
  font-size: 24px;
}

  .module-title a {
    color: var(--secondary-dark);
    font-size: 13px;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    width: 100%;
  }

.secondary-link {
  color: var(--secondary-dark);
}

  .secondary-link:hover {
    color: var(--secondary-color);
  }

.price-label {
  color: var(--primary-color);
}

.btn.outline-danger {
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
  background-color: transparent;
}

  .btn.outline-danger:hover {
    background-color: var(--danger-color);
    color: var(--gray-color);
  }

.btn.outline-success {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: transparent;
}

  .btn.outline-success:hover {
    background-color: var(--secondary-color);
    color: var(--gray-color);
  }

.btn.outline-info {
  color: var(--info-color);
  border: 1px solid var(--info-color);
  background-color: transparent;
}

  .btn.outline-info:hover {
    background-color: var(--info-color);
    color: var(--gray-color);
  }

.btn.success {
  color: var(--gray-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

  .btn.success:hover {
    background-color: var(--secondary-dark);
    border-color: var(--secondary-dark);
  }

.btn.outline-neutral {
  color: var(--neutral-color);
  border: 1px solid var(--neutral-color);
  background-color: transparent;
}

  .btn.outline-neutral:hover {
    background-color: var(--neutral-color);
    color: var(--primary-dark);
  }

.color-success {
  color: var(--secondary-color);
}

.color-primary {
  color: var(--primary-color);
}

.form-fields {
  position: relative;
  border-top: 1px solid var(--neutral-color);
  background-color: var(--gray-color);
  padding: 30px 15px;
}

/*********** .header **********/
.header-logo {
  padding-bottom: 0;
  padding-top: 0;
}

  .header-logo > a {
    display: block;
    vertical-align: middle;
  }

  .header-logo img {
    width: 100%;
    max-width: 171px;
  }

#small-search-box-form {
  position: relative;
}

  #small-search-box-form .search-box-text {
    width: 100%;
    border: 1px solid var(--neutral-color);
    border-radius: 30px;
  }

    #small-search-box-form .search-box-text::placeholder {
      color: var(--neutral-color);
    }

    #small-search-box-form .search-box-text:focus {
      background-color: rgba(255, 255, 255, 1);
    }

  #small-search-box-form .search-box-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    outline: 0;
    color: var(--primary-color);
    background: transparent;
  }

.header-links .nav {
  display: block;
}

.header-links .nav-item {
  display: inline-block;
  color: var(--primary-dark);
}

  .header-links .nav-item > a {
    color: inherit;
    padding: 5px 1rem;
  }

  .header-links .nav-item .ico-cart,
  .header-links .nav-item .ico-account,
  .header-links .nav-item .ico-logout {
    font-size: 1rem;
    width: 45px;
    padding: 0;
    height: 45px;
    line-height: 43px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--gray-color);
    position: relative;
  }

    .header-links .nav-item .ico-cart:hover,
    .header-links .nav-item .ico-account:hover,
    .header-links .nav-item .ico-logout:hover {
      background-color: var(--gray-color);
    }

.header-links .ico-cart .cart-qty {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 13px;
  width: 25px;
  height: 25px;
  line-height: 23px;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 0;
  text-align: center;
  color: var(--gray-color);
}
/**
menu-bar    
**/
.header-menu {
  background-color: var(--primary-color);
  position: relative;
  z-index: 10
}

  .header-menu > ul.mobile {
    display: none !important;
  }

.menu-toggle {
  position: relative;
  color: var(--gray-color);
  border-radius: 30px;
  cursor: pointer;
}

  .menu-toggle span {
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }

  .menu-toggle .bars-button {
    color: inherit;
    font-size: 24px;
    padding: 0;
  }

.menu-bar {
  position: relative;
  color: var(--gray-color);
  border-radius: 30px;
  cursor: pointer;
}

  .menu-bar .bars-button {
    color: inherit;
    font-size: 24px;
    padding: 0;
  }

  .menu-bar > span {
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }

.top-menu {
  list-style: none;
  padding-left: 0;
  width: 100%;
  min-width: 220px;
  position: absolute;
  top: 100%;
  z-index: 20;
  display: none;
  left: 0;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  background-color: #fff;
}

.menu-bar:hover .top-menu {
  display: block;
}

.top-menu > li {
  position: relative;
  border-bottom: 1px solid #F0F0F0;
}

  .top-menu > li:last-child {
    border-bottom: 0;
  }

  .top-menu > li > a {
    padding: 10px 15px;
    color: var(--dark-color)
  }

    .top-menu > li > a:hover {
      color: var(--primary-color)
    }

.top-menu .sublist-toggle {
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  color: var(--neutral-color);
  width: 39px;
  max-height: 39px;
  line-height: 39px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

  .top-menu .sublist-toggle:hover {
    background-color: var(--gray-color);
  }

.top-menu .sublist {
  background: #fff;
  border: 1px solid var(--gray-color);
  list-style: none;
  display: none;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}

.top-menu.mobile .sublist {
  background: var(--gray-color);
  border: 1px solid var(--neutral-color);
  position: static;
}

.top-menu.notmobile .sublist {
  position: absolute;
  top: -1px;
  left: 100%;
  right: auto;
}

.top-menu.notmobile > li:hover .sublist {
  display: block;
}

.top-menu .sublist > li {
  text-align: left;
  border-bottom: 1px solid #f6f6f6;
}

  .top-menu .sublist > li:last-child {
    border-bottom: 0;
  }

  .top-menu .sublist > li > a {
    padding: 10px 15px;
    color: var(--dark-color);
  }

    .top-menu .sublist > li > a:hover {
      color: var(--secondary-color)
    }


/**
    HomepageCategories
**/
.category-grid .category-item .title {
  font-size: 16px;
}

.category-grid .category-item .picture img {
  max-width: 100%;
  border-radius: 200px;
}

.category-grid .title a {
  color: var(--secondary-dark);
  font-size: 13px;
  text-align: center;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  width: 100%;
  font-weight: 600;
}
/**
    HomepageProducts
**/
.product-grid .product-item {
  border: 1px solid var(--gray-color);
}

  .product-grid .product-item .thumbnail-link {
    display: block;
    height: 215.7px;
    overflow-y: hidden;
  }

  .product-grid .product-item .details {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 215px;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
  }


    .product-grid .product-item .details .description {
      min-height: 72px;
      font-size: 14px;
      color: var(--primary-dark);
    }

    .product-grid .product-item .details .prices {
      min-height: 60px;
    }

    .product-grid .product-item .details .card-body {
      padding-bottom: 0;
    }

  .product-grid .product-item .product-title {
    font-size: 16px;
    color: var(--secondary-color);
    min-height: 38.5px;
  }

    .product-grid .product-item .product-title:hover {
      color: var(--secondary-dark)
    }

    .product-grid .product-item .product-title a {
      color: inherit;
    }

.item-box .old-price {
  margin: 0 5px 0 0;
  font-size: 16px;
  color: var(--primary-dark);
  text-decoration: line-through;
  display: block;
}

.item-box .actual-price {
  font-size: 24px;
  color: var(--primary-color);
  display: block;
}

.item-box .product-box-add-to-cart-button {
  border: 0;
  color: var(--secondary-dark);
  text-transform: uppercase;
}

  .item-box .product-box-add-to-cart-button:hover {
    color: var(--secondary-color);
    background-color: var(--gray-color);
  }


.item-box .add-info {
  background-color: transparent;
  border-top: 0;
}

.item-box .buttons {
  background-color: transparent;
  border-top: 0;
  text-align: center;
}

/**
    HomepageBlogSpots
**/
.blog-grid .post {
  border: 0;
  background-color: #ffffff;
}

.blog-grid .details {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 185px;
  border: 1px solid var(--gray-color);
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.blog-grid .post-head {
  padding: 8px 15px;
}

.blog-grid .post-title {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 600;
  display: block;
}


.blog-grid .thumbnail-link {
  height: 152.9px;
  overflow-y: hidden;
}

.blog-grid .post-title:hover {
  color: var(--secondary-dark)
}

.blog-grid .post-date {
  font-size: 13px;
  color: var(--neutral-color);
}

.blog-grid .post-body {
  padding-top: 0;
  padding-bottom: 0;
}

/**
.footer    
**/

.footer {
  background-color: var(--gray-color)
}

  .footer .footer-info {
    font-size: 14px;
    color: var(--primary-dark);
  }


  .footer .footer-block .title {
    color: var(--primary-dark)
  }

  .footer .footer-block .list,
  .footer .footer-block .networks {
    color: var(--primary-dark);
    padding-left: 18px;
  }

    .footer .footer-block .list li a,
    .footer .footer-block .networks li a {
      color: var(--primary-color);
    }

.footer-powered-by {
  color: var(--primary-dark);
  padding: 23px 0 8px 0;
  background-color: var(--primary-color);
}

  .footer-powered-by a {
    color: var(--gray-color);
  }


/**
.admin-footer-links    
**/
.admin-footer-links {
  position: relative;
}

  .admin-footer-links a {
    color: var(--primary-color);
    background-color: var(--primary-dark);
    display: block;
    padding: 8px 15px;
    position: absolute;
    border-radius: 30px;
    left: 0;
    right: 0;
    top: 0;
    margin: -22px auto 0;
    max-width: 200px;
  }

/******* SHOPPING CART *******/
.checkout-attributes .option-list {
  list-style: none;
  padding-left: 0;
}

/************ CHECKOUT PAGE *************/
.checkout-page .section {
  margin: 0 0 30px;
}

  .checkout-page .section.order-summary {
    margin: 100px 0 30px;
  }

.checkout-page .cart-options {
  min-height: 60px;
  overflow: hidden;
}

.checkout-page .cart-footer {
  border-top: none;
}

.checkout-page .total-info {
  margin: 0;
  border-bottom: none;
  padding: 5px 20px 10px;
}

.checkout-page .address-item {
  width: 350px;
  max-width: 100%;
  margin: 0 auto 40px;
}

  .checkout-page .address-item ul {
    margin: 0 0 15px;
    background-color: #f9f9f9;
    padding: 20px;
    color: #444;
  }

  .checkout-page .address-item li {
    padding: 5px 0;
  }

    .checkout-page .address-item li.name {
      font-size: 16px;
      font-weight: bold;
    }

.enter-address .message-error {
  margin: 20px 0;
}

.enter-address .edit-address {
  background-color: #f9f9f9;
  border-top: 1px solid #e6e6e6;
  margin: 0 0 30px;
  padding: 30px 15px;
}

.checkout-page .ship-to-same-address {
  padding: 30px 0;
  text-align: center;
}

  .checkout-page .ship-to-same-address .selector {
    margin: 0 0 5px;
    font-weight: bold;
    color: #444;
  }

.checkout-page .pickup-in-store {
  text-align: center;
}

  .checkout-page .pickup-in-store .selector {
    margin: 0 0 5px;
    font-weight: bold;
    color: #444;
  }

.select-pickup-point {
  text-align: center;
}

.checkout-page .pickup-points-map {
  min-width: 400px;
  min-height: 350px;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkout-page .edit-address-button {
  float: right;
  margin: 20px 10px 10px 12px;
  display: none;
}

.checkout-page .delete-address-button {
  float: right;
  margin: 20px 0 10px 0;
  display: none;
}

.checkout-page .opc {
  list-style: none;
  padding-left: 0;
}

.shipping-method .method-list,
.payment-method .method-list {
  margin: 0 auto 30px 0;
  overflow: hidden;
  text-align: center;
  font-size: 0;
  list-style: none;
  padding-left: 0;
}

  .shipping-method .method-list li,
  .payment-method .method-list li {
    margin: 20px 0;
    font-size: 14px; /*reset zeroing*/
  }

    .shipping-method .method-list li label,
    .payment-method .method-list li label {
      font-size: 13px;
      font-weight: bold;
      color: #444;
    }

.shipping-method .method-description {
  margin: 5px 0 0;
}

.payment-method .use-reward-points {
  margin: 0 0 30px;
  text-align: center;
  color: #444;
}

.payment-method .payment-logo {
  display: inline-block;
  vertical-align: middle;
}

  .payment-method .payment-logo label {
    display: block;
    font-size: 0 !important;
  }

.payment-method .payment-details {
  width: 200px;
  display: inline-block;
  margin: 0 0 0 10px;
  text-align: left;
  vertical-align: middle;
}

.payment-info .info {
  padding: 30px 15px;
  color: #444;
}

  .payment-info .info tr {
    display: block;
    margin: 0 0 15px;
    font-size: 0;
  }

  .payment-info .info td {
    display: inline-block;
    width: 100% !important;
    max-width: 400px !important;
    font-size: 14px; /*reset zeroing*/
  }

    .payment-info .info td:only-child {
      width: 100% !important;
      max-width: 100% !important;
    }

    .payment-info .info td input[type="text"] {
      width: 100% !important;
    }

    .payment-info .info td input[name="CardCode"] {
      width: 65px !important;
    }

    .payment-info .info td select {
      min-width: 70px;
    }

    .payment-info .info td:first-child {
      margin: 0 0 10px;
    }

  .payment-info .info p {
    text-align: center;
  }

.confirm-order .buttons {
  padding: 10px 0;
}

.confirm-order .button-1 {
  font-size: 16px;
}

.order-review-data > div,
.order-details-area > div,
.shipment-details-area > div {
  width: 350px;
  max-width: 100%;
  margin: 0 auto 40px;
  background-color: #f9f9f9;
  padding: 20px;
  color: #444;
}

.order-review-data li,
.order-details-area li,
.shipment-details-area li {
  padding: 3px 0;
}

.order-review-data .title,
.order-details-area .title,
.shipment-details-area .title {
  margin: 0 0 5px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}

  .order-review-data .title strong,
  .order-details-area .title strong,
  .shipment-details-area .title strong {
    font-weight: 700;
  }

.order-review-data .payment-method-info,
.order-review-data .shipping-method-info,
.order-details-area .payment-method-info,
.order-details-area .shipping-method-info {
  margin-top: 20px;
}

.order-completed .details {
  margin: 0 0 30px;
  padding: 30px 15px;
  text-align: center;
  color: #444;
}

  .order-completed .details div {
    margin: 5px 0;
  }

  .order-completed .details strong {
    font-weight: normal;
    text-transform: uppercase;
  }

  .order-completed .details a {
    color: #4ab2f1;
  }

    .order-completed .details a:hover,
    .order-completed .details a:focus {
      text-decoration: underline;
    }

.opc .step-title {
  margin: 0 0 1px;
  overflow: hidden;
  background-color: var(--gray-color);
}

.opc .allow .step-title {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.opc .step-title .number,
.opc .step-title .title {
  float: left;
  min-height: 40px;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 16px;
  font-weight: normal;
}

.opc .allow .step-title .number,
.opc .allow .step-title .title {
  color: #fff;
  cursor: pointer;
}

.opc .step-title .number {
  width: 42px;
  border-right: 1px solid #fff;
  text-align: center;
}

.opc .allow .step-title .number {
  background-color: var(--secondary-dark);
}

.opc .step {
  margin: 10px 0;
  padding: 30px 15px;
  text-align: center;
}

.opc .section {
  margin: 0 0 30px;
}

  .opc .section > label {
    display: block;
    margin: 0 0 10px;
  }

.opc input[type="text"],
.opc select {
  max-width: 100%;
}

.opc .buttons {
  margin-bottom: 0;
}

.opc .back-link small {
  display: none;
}

.opc .back-link a {
  display: inline-block;
  background: url('../images/back-button.png') left center no-repeat;
  padding: 0 0 0 18px;
  color: #444;
}

  .opc .back-link a:hover,
  .opc .back-link a:focus {
    color: #4ab2f1;
  }

.opc .buttons .please-wait {
  display: block;
  margin: 10px 0 0;
  background: none;
}

.opc .section.ship-to-same-address {
  margin: 0 0 30px;
  padding: 0;
}

.opc .section.pickup-in-store {
  margin: 0 0 30px;
  padding: 0;
}

.opc .payment-info .info tr {
  text-align: left;
}

.opc .section.order-summary {
  margin: 0;
}

.checkout-page .inputs {
  position: relative;
}

.checkout-page .relative-from {
  position: relative;
}

.inputs div[class*="col-"] {
  position: relative;
}

  .inputs .required {
    position: absolute;
    color: var(--danger-color);
    right: 0;
    top: 0;
    width: auto;
  }

/*** CUSTOMER INFO ***/
.block-account-navigation {
  float: none;
  margin: auto !important;
}

.block {
  max-width: 600px;
  min-height: 50px;
  margin: auto;
  text-align: left;
}

  .block .title {
    position: relative;
    margin: 0 0 10px;
    border-bottom: 1px solid #ddd;
    background: var(--gray-color);
    padding: 12px 30px 12px 10px;
    font-size: 20px;
    color: var(--dark-color);
    cursor: pointer;
  }

  .block .listbox {
    display: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
  }

    .block .listbox ul, .block .listbox ol {
      list-style: none;
      padding-left: 0;
    }

  .block .list a {
    display: inline-block;
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    color: var(--dark-color);
    border-bottom: 1px dashed var(--gray-color);
    width: 100%;
  }

  .block .list .active > a {
    color: var(--secondary-color);
  }

  .block .list li:hover > a {
    color: var(--secondary-color);
  }

.date-of-birth .date-picker-wrapper {
  display: inline;
}

.date-of-birth select {
  width: 31%;
  border: 1px solid #ced4da;
  max-width: 126px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

  .date-of-birth select + select {
    margin: 0 0 0 10px;
  }

.date-of-birth .select-wrapper + .select-wrapper {
  margin: 0 0 0 10px;
}

@media (min-width: 1001px) {
  .block {
    float: none;
    width: auto;
    margin: 0 0 20px;
  }

    .block .title {
      margin: 0;
      border-bottom: 1px solid #ddd;
      background: none;
      cursor: auto;
    }

    .block .listbox {
      display: block;
      border-bottom: none;
    }
}


/********** PRODUCT REVIEWS **********/
.product-reviews-page h1 a {
  color: var(--primary-dark);
}

  .product-reviews-page h1 a:before,
  .product-reviews-page h1 a:after {
    content: "''";
  }

.product-reviews-page .title {
  margin: 0 0 20px;
  font-size: 20px;
  color: var(--dark-color);
}

  .product-reviews-page .title strong {
    font-weight: normal;
  }

.write-review {
  margin: 0 0 60px;
}

  .write-review .fieldset {
    margin: 0 0 30px;
  }

.tooltip {
  position: initial;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: var(--dark-color);
}

  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background: var(--gray-color) no-repeat 100% 5%;
    border: var(--neutral-color) 1px dotted;
    text-align: Left;
    padding: 10px 10px 5px 5px;
    position: absolute;
    z-index: 1;
    left: 10%;
    opacity: 0;
    transition: opacity 0.3s;
  }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
    }

  .tooltip:hover .tooltiptext,
  .tooltip:focus .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: help;
  }

.write-review .review-rating {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

  .write-review .review-rating label {
    display: block;
    margin: 0 0 5px;
    font-size: 14px;
    color: var(--dark-color);
  }

  .write-review .review-rating div.first {
    color: #e4444c;
  }

  .write-review .review-rating div.rating-options {
    padding-top: 2px;
  }

    .write-review .review-rating div.rating-options input {
      vertical-align: baseline;
    }

  .write-review .review-rating div.last {
    color: #4cb17c;
  }

.write-review .captcha-box {
  margin: 15px 0 0;
}

.product-reviews-page .result,
.product-reviews-page .message-error {
  margin: 0 0 20px;
}

.product-review-list {
  overflow: hidden;
}

.product-review-item {
  margin: 0 0 40px;
}

  .product-review-item .review-item-head {
    border-top: 1px solid var(--neutral-color);
    overflow: hidden;
    background-color: var(--gray-color);
    padding: 10px;
  }

  .product-review-item .review-title {
    line-height: 20px;
    font-size: 15px;
    color: var(--dark-color);
  }

  .product-review-item .product-review-box {
    margin: 3px 0 0;
  }

  .product-review-item .review-content {
    padding: 20px 10px;
  }

  .product-review-item .review-text {
    margin: 0 0 15px;
    line-height: 22px;
    color: var(--dark-color);
  }

  .product-review-item .avatar {
    margin: 0 0 10px;
  }

  .product-review-item .reply {
    margin: 15px 0;
    border-top: 1px solid var(--neutral-color);
  }

  .product-review-item .reply-header {
    margin: 15px 0;
    font-weight: bold;
  }

  .product-review-item .reply-text {
    line-height: 22px;
  }

  .product-review-item .review-info {
    margin: 0 0 5px;
  }

  .product-review-item .review-info .date {
    color: var(--neutral-color);
    font-size: 14px;
  }

    .product-review-item .review-info label {
      font-weight: normal;
    }

    .product-review-item .review-info a,
    .product-review-helpfulness .vote {
      display: inline-block;
      padding: 0 5px;
      color: var(--secondary-color);
      cursor: pointer;
    }

    .product-review-item .review-info a:hover,
    .product-review-helpfulness .vote:hover {
      color: var(--secondary-dark);
    }

.product-review-helpfulness .question {
  margin: 0 5px 0 0;
  font-style: italic;
}

.product-review-helpfulness .result {
  margin: 0 0 0 10px;
}

.product-review-item .review-type-rating-ext {
  overflow: hidden;
  margin: 0 0 20px;
}

/************ PAGER **********/
.pager {
  margin: 0 0 20px;
}

  .pager ul {
    text-align: right;
    font-size: 0;
  }

  .pager li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
  }

    .pager li a,
    .pager li span {
      display: block;
      min-width: 35px;
      height: 35px;
      border: 1px solid var(--neutral-color);
      background-color: var(--gray-color);
      padding: 8px;
      text-align: center;
      font-size: 14px; /*reset zeroing*/
      cursor: pointer;
      color: var(--primary-color);
      border-radius: 3px;
    }

    .pager li span {
      border-color: transparent;
      background-color: var(--primary-color);
      color: var(--gray-color);
    }

    .pager li.previous-page *,
    .pager li.next-page *,
    .pager li.first-page *,
    .pager li.last-page * {
      background-position: center;
      background-repeat: no-repeat;
      font-size: 0;
      color: #fff;
    }

    .pager li.previous-page * {
      background-image: url('../images/prev.png');
    }

    .pager li.next-page * {
      background-image: url('../images/next.png');
    }

    .pager li.first-page * {
      background-image: url('../images/first.png');
    }

    .pager li.last-page * {
      background-image: url('../images/last.png');
    }

    .pager li a:hover,
    .pager li a:focus {
      border-color: transparent;
      background-color: var(--primary-color);
      color: #fff
    }

/**
    Categories Page
**/
.category-grid .sub-category-item .title {
  font-size: 16px;
}

.category-grid .sub-category-item .picture img {
  max-width: 100%;
  border-radius: 200px;
}