@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title module-title">
        <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        <form asp-route="CustomerChangePassword" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset mb-3">
                <div class="form-fields">
                    <div class="inputs mb-3 row">
                        <label class="form-label col-12" asp-for="OldPassword" asp-postfix=":"></label>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <input asp-for="OldPassword" class="form-control" />
                            <nop-required />
                            <span asp-validation-for="OldPassword"></span>
                        </div>
                    </div>
                    <div class="inputs mb-3 row">
                        <label class="form-label col-12" asp-for="NewPassword" asp-postfix=":"></label>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <input asp-for="NewPassword" class="form-control" />
                            <nop-required />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                    </div>
                    <div class="inputs mb-3 row">
                        <label class="form-label col-12" asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <nop-required />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="button-1 change-password-button btn success">@T("Account.ChangePassword.Button")</button>
            </div>
        </form>
    </div>
</div>